@import "reset.css";
@import "../node_modules/swiper/swiper-bundle.css";

.head_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.header_title {
  width: 1200px;
  margin: 50px 0 70px 130px;
}

.header_h1 {
  width: 400px;
  text-align: center;
}

.header_temperature_icon {
  width: 52px;
}

.todayChart {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

.weeklyChart {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
}

.swiper {
  margin: 0 50px;
}

.swiper-wrapper {
  width: 100vw;
  height: 100vh;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0.5;
  padding: 15px 5px;
  border-radius: 20px;
  color: black;
}
